@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --second-color: #3AA39F;
  --hover-second-color: #4b7977;
}
body {
  line-height: 1.5;
  background-color: #f4f4f4; /* Cor de fundo padrão */
  color: #333; /* Cor de texto padrão */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* Evita mudança de cor no link */
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Evita que o conteúdo ultrapasse os limites */
html, body {
  overflow-x: hidden;
}
